body {
    background-color: #0d1117; /* Dark Navy Background */
    color: #00ff41;            /* Hacker Green Text */
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 100px;
}

button {
    background-color: #00ff41;
    color: #000;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #ffffff; /* Turn white when you hover */
}
input {
    padding: 10px;
    font-size: 18px;
    background-color: #000;
    color: #00ff41;
    border: 2px solid #00ff41;
    font-family: 'Courier New', Courier, monospace;
    width: 100px;
    text-align: center;
}