<!DOCTYPE html>
<html>
<head>
     <title>Password Generator</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body style="text-align: center; padding-top: 50px;">
    <h1>CYBER-SECURITY GATEWAY</h1>
    <p>Enter the security level (Length):</p>

    <form action="/generate" method="POST">
        
        <input type="number" name="length_data" value="12" min="4" max="50">
        
        <br><br>
        
        <button type="submit">GENERATE HASH</button>
    </form>
    <br><br>
<a href="/history">
    <button style="background-color: #333; color: white; border: 1px solid white;">
        VIEW HISTORY
    </button>
</a>
</body>
</html>